@import "../../variables.modules";


.resumeButton {
    border-color: green;
    color: white;
    background-color: purple;
    padding: 8px 16px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: purple;
      color: white;
      text-decoration: none;
    }
  }

  .reactpdfPage {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }