@import "../variables.modules";

.not-found {
    text-align: center;
    margin-top: 50px;
  
  h1 {
    font-size: 48px;
    color: red;
  }
  
  p {
    font-size: 24px;
    margin-top: 20px;
  }
  
  a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: red;
  }
}